In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving chronickidneydisease.csv to chronickidneydisease.csv

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving data_description.txt to data_description.txt

In [ ]:
df=pd.read_csv("chronickidneydisease.csv")
df.head()

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd

In [ ]:
columns = pd.read_csv("data_description.txt",sep="-")
columns=columns.reset_index()
columns.columns=["cols","Full_names"]
columns.head()

   cols        Full_names
0   id                 id
1  age                age
2   bp     blood pressure
3   sg   specific gravity
4   al            albumin

In [ ]:
df.columns = columns["Full_names"].values
df.head()

,id,age,blood pressure,specific gravity,albumin,sugar,red blood cells,pus cell,pus cell clumps,bacteria,...,packed cell volume,white blood cell count,red blood cell count,ypertension,diabetes mellitus,coronary artery disease,appetite,pedal edema,anemia,class
0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd

In [ ]:
df.dtypes

id                           int64
age                        float64
blood pressure             float64
specific gravity           float64
albumin                    float64
sugar                      float64
red blood cells             object
 pus cell                   object
pus cell clumps             object
bacteria                    object
blood glucose random       float64
blood urea                 float64
serum creatinine           float64
sodium                     float64
potassium                  float64
haemoglobin                float64
packed cell volume          object
white blood cell count      object
red blood cell count        object
ypertension                 object
diabetes mellitus           object
coronary artery disease     object
appetite                    object
pedal edema                 object
anemia                      object
class                       object
dtype: object

In [ ]:
def convert_dtypes(df,feature):
    df[feature]=pd.to_numeric(df[feature],errors='coerce')

In [ ]:
features =['packed cell volume','white blood cell count','red blood cell count']
for feature in features:
    convert_dtypes(df,feature)

In [ ]:
df.dtypes

id                           int64
age                        float64
blood pressure             float64
specific gravity           float64
albumin                    float64
sugar                      float64
red blood cells             object
 pus cell                   object
pus cell clumps             object
bacteria                    object
blood glucose random       float64
blood urea                 float64
serum creatinine           float64
sodium                     float64
potassium                  float64
haemoglobin                float64
packed cell volume         float64
white blood cell count     float64
red blood cell count       float64
ypertension                 object
diabetes mellitus           object
coronary artery disease     object
appetite                    object
pedal edema                 object
anemia                      object
class                       object
dtype: object

**REPLACING THE NULL VALUES**

In [ ]:
df["diabetes mellitus"]= df['diabetes mellitus'].replace(to_replace ={'\tno':'no','\tyes':'yes'})
df["coronary artery disease"]= df['coronary artery disease'].replace(to_replace ={'\tno':'no','\tyes':'yes'})
df['class'] = df['class'].replace(to_replace={'ckd\t':'ckd'})
for col in cat_col:
    print(' {} has {} numbers of values i.e. {}'.format(col, df[col].nunique(),df[col].unique()))

 red blood cells has 2 numbers of values i.e. [nan 'normal' 'abnormal']
  pus cell has 2 numbers of values i.e. ['normal' 'abnormal' nan]
 pus cell clumps has 2 numbers of values i.e. ['notpresent' 'present' nan]
 bacteria has 2 numbers of values i.e. ['notpresent' 'present' nan]
 ypertension has 2 numbers of values i.e. ['yes' 'no' nan]
 diabetes mellitus has 3 numbers of values i.e. ['yes' 'no' ' yes' nan]
 coronary artery disease has 2 numbers of values i.e. ['no' 'yes' nan]
 appetite has 2 numbers of values i.e. ['good' 'poor' nan]
 pedal edema has 2 numbers of values i.e. ['no' 'yes' nan]
 anemia has 2 numbers of values i.e. ['no' 'yes' nan]
 class has 2 numbers of values i.e. ['ckd' 'notckd']

In [ ]:
df.isna().sum().sort_values(ascending =False)

red blood cells            152
red blood cell count       131
white blood cell count     106
potassium                   88
sodium                      87
packed cell volume          71
 pus cell                   65
haemoglobin                 52
sugar                       49
specific gravity            47
albumin                     46
blood glucose random        44
blood urea                  19
serum creatinine            17
blood pressure              12
age                          9
bacteria                     4
pus cell clumps              4
ypertension                  2
diabetes mellitus            2
coronary artery disease      2
appetite                     1
pedal edema                  1
anemia                       1
class                        0
dtype: int64

In [ ]:
df[num_col].isnull().sum()
for f in num_col:
    random_value_imputation(df,f)

The missing values age  are  0
The missing values blood pressure  are  0
The missing values specific gravity  are  0
The missing values albumin  are  0
The missing values sugar  are  0
The missing values blood glucose random  are  0
The missing values blood urea  are  0
The missing values serum creatinine  are  0
The missing values sodium  are  0
The missing values potassium  are  0
The missing values haemoglobin  are  0
The missing values packed cell volume  are  0
The missing values white blood cell count  are  0
The missing values red blood cell count  are  0

In [ ]:
df[cat_col].isnull().sum()
for f in cat_col:
    random_value_imputation(df,f)

The missing values red blood cells  are  0
The missing values  pus cell  are  0
The missing values pus cell clumps  are  0
The missing values bacteria  are  0
The missing values ypertension  are  0
The missing values diabetes mellitus  are  0
The missing values coronary artery disease  are  0
The missing values appetite  are  0
The missing values pedal edema  are  0
The missing values anemia  are  0
The missing values class  are  0

In [ ]:
print(df)

      age  blood pressure  specific gravity  albumin  sugar red blood cells  \
0    48.0            80.0             1.020      1.0    0.0          normal
1     7.0            50.0             1.020      4.0    0.0          normal
2    62.0            80.0             1.010      2.0    3.0          normal
3    48.0            70.0             1.005      4.0    0.0          normal
4    51.0            80.0             1.010      2.0    0.0          normal
..    ...             ...               ...      ...    ...             ...
395  55.0            80.0             1.020      0.0    0.0          normal
396  42.0            70.0             1.025      0.0    0.0          normal
397  12.0            80.0             1.020      0.0    0.0          normal
398  17.0            60.0             1.025      0.0    0.0          normal
399  58.0            80.0             1.025      0.0    0.0          normal

     pus cell pus cell clumps    bacteria  blood glucose random  ...  \
0      normal      notpresent  notpresent                 121.0  ...
1      normal      notpresent  notpresent                 146.0  ...
2      normal      notpresent  notpresent                 423.0  ...
3    abnormal         present  notpresent                 117.0  ...
4      normal      notpresent  notpresent                 106.0  ...
..        ...             ...         ...                   ...  ...
395    normal      notpresent  notpresent                 140.0  ...
396    normal      notpresent  notpresent                  75.0  ...
397    normal      notpresent  notpresent                 100.0  ...
398    normal      notpresent  notpresent                 114.0  ...
399    normal      notpresent  notpresent                 131.0  ...

     packed cell volume  white blood cell count  red blood cell count  \
0                  44.0                  7800.0                   5.2
1                  38.0                  6000.0                   4.7
2                  31.0                  7500.0                   5.2
3                  32.0                  6700.0                   3.9
4                  35.0                  7300.0                   4.6
..                  ...                     ...                   ...
395                47.0                  6700.0                   4.9
396                54.0                  7800.0                   6.2
397                49.0                  6600.0                   5.4
398                51.0                  7200.0                   5.9
399                53.0                  6800.0                   6.1

     ypertension  diabetes mellitus  coronary artery disease  appetite  \
0            yes                yes                       no      good
1             no                 no                       no      good
2             no                yes                       no      poor
3            yes                 no                       no      poor
4             no                 no                       no      good
..           ...                ...                      ...       ...
395           no                 no                       no      good
396           no                 no                       no      good
397           no                 no                       no      good
398           no                 no                       no      good
399           no                 no                       no      good

     pedal edema anemia   class
0             no     no     ckd
1             no     no     ckd
2             no    yes     ckd
3            yes    yes     ckd
4             no     no     ckd
..           ...    ...     ...
395           no     no  notckd
396           no     no  notckd
397           no     no  notckd
398           no     no  notckd
399           no     no  notckd

[400 rows x 25 columns]

# DEPENDENT AND INDEPENDENT VARIABLES

In [ ]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
for col in cat_col:
    df[col]=le.fit_transform(df[col])
df.head()
#0 is ckd and 1 is non ckd

,age,blood pressure,specific gravity,albumin,sugar,red blood cells,pus cell,pus cell clumps,bacteria,blood glucose random,...,packed cell volume,white blood cell count,red blood cell count,ypertension,diabetes mellitus,coronary artery disease,appetite,pedal edema,anemia,class
0,48.0,80.0,1.020,1.0,0.0,1,1,0,0,121.0,...,44.0,7800.0,5.2,1,2,0,0,0,0,0
1,7.0,50.0,1.020,4.0,0.0,1,1,0,0,146.0,...,38.0,6000.0,4.7,0,1,0,0,0,0,0
2,62.0,80.0,1.010,2.0,3.0,1,1,0,0,423.0,...,31.0,7500.0,5.2,0,2,0,1,0,1,0
3,48.0,70.0,1.005,4.0,0.0,1,0,1,0,117.0,...,32.0,6700.0,3.9,1,1,0,1,1,1,0
4,51.0,80.0,1.010,2.0,0.0,1,1,0,0,106.0,...,35.0,7300.0,4.6,0,1,0,0,0,0,0

In [ ]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

In [ ]:
ind_col=[col for col in df.columns if col!='class']
dep_col='class'

In [ ]:
x=df[ind_col]
y=df[dep_col]

In [ ]:
ordered_rank_feature=SelectKBest(score_func=chi2,k=20)
ordered_feature=ordered_rank_feature.fit(x,y)
ordered_feature.scores_

array([1.13047063e+02, 7.85340314e+01, 5.42539878e-03, 2.42641124e+02,
       1.04400000e+02, 1.00785276e+01, 1.54152505e+01, 2.26992248e+01,
       1.32000000e+01, 2.50744136e+03, 2.63848470e+03, 3.45240347e+02,
       2.83013319e+01, 5.28098934e+00, 1.23737956e+02, 3.20633748e+02,
       1.08014427e+04, 2.05582318e+01, 8.56288288e+01, 1.99004975e+01,
       2.04000000e+01, 4.92000000e+01, 4.30554113e+01, 3.60000000e+01])

In [ ]:
df_score=pd.DataFrame(ordered_feature.scores_,columns=['score'])

In [ ]:
df_x=pd.DataFrame(x.columns,columns=['feature'])
features_rank=pd.concat([df_x,df_score],axis=1)
features_rank.head()

            feature       score
0               age  113.047063
1    blood pressure   78.534031
2  specific gravity    0.005425
3           albumin  242.641124
4             sugar  104.400000

In [ ]:
features_rank['score'].max()

10801.44269542101

In [ ]:
features_rank.nlargest(10,'score')

                   feature         score
16  white blood cell count  10801.442695
10              blood urea   2638.484696
9     blood glucose random   2507.441360
11        serum creatinine    345.240347
15      packed cell volume    320.633748
3                  albumin    242.641124
14             haemoglobin    123.737956
0                      age    113.047063
4                    sugar    104.400000
18             ypertension     85.628829

In [ ]:
selected_columns=features_rank.nlargest(10,'score')['feature'].values
selected_columns

array(['white blood cell count', 'blood urea', 'blood glucose random',
       'serum creatinine', 'packed cell volume', 'albumin', 'haemoglobin',
       'age', 'sugar', 'ypertension'], dtype=object)

In [ ]:
x_new=df[selected_columns]
x_new.head()

,white blood cell count,blood urea,blood glucose random,serum creatinine,packed cell volume,albumin,haemoglobin,age,sugar,ypertension
0,7800.0,36.0,121.0,1.2,44.0,1.0,15.4,48.0,0.0,1
1,6000.0,18.0,109.0,0.8,38.0,4.0,11.3,7.0,0.0,0
2,7500.0,53.0,423.0,1.8,31.0,2.0,9.6,62.0,3.0,0
3,6700.0,56.0,117.0,3.8,32.0,4.0,11.2,48.0,0.0,1
4,7300.0,26.0,106.0,1.4,35.0,2.0,11.6,51.0,0.0,0

In [ ]:
len(x_new)

400

In [ ]:
x_new.shape

(400, 10)